* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entrance {
    height: 100vh;
    width: 100vw;
    background-color: #1d1d1d;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20%;
}

.pretty, label, span {
    color: #ededed;
    font-family: helvetica;
    font-weight: 200;
}

label, span {
    margin-bottom: 10px;
}

span {
    color: rgb(208, 208, 0);
    font-style: italic;
}

form {
    margin-top: 2rem;
    width: 500px;
}

input, button{
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 2rem;
    transition: 0.23s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: #4fb24f;
}

form > * {
    display: block;
    width: 100%;
}

.link {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 20px;
    color: #4fb24f;
    
}