.Interface {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 9fr;
}

.side-panel {
    grid-column: 1/1;
    width: 100%;
    height: 100%;
}

.ui {
    grid-column: 2/9;
    width: 100%;
    height: 100%;
}