* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Landing {
    height: 100vh;
    width: 100vw;
    background-color: #47b869;

    padding-top: 20vh;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.helvetica {
    color: #eeeeee;
    font-family: helvetica;
    font-weight: 100;
}

.field {
    margin-top: 40px;
}

.field > * {
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

.field > button {
    background-color: #0f5825;
    color: #eeeeee;
    font-family: helvetica;
    font-weight: 300;
}

.field > button:hover {
    background-color: #206334;
    cursor: pointer;
}



