.ui h1, .ui label, .ui button, .ui h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: #1d1d1d;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
}

.ui h1 {
    margin-bottom: 50px;
}

.ui h3 {
    align-self: flex-end;
    font-weight: 500;
}

.ui form {
    margin-top: 2rem;
    width: 60vw;
}

.ui input {
    background-color: #1d1d1d;
    color: #ededed;
}

.ui input, .ui button{
    padding: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
}

.ui button {
    margin-top: 0;
    transition: 0.23s ease-in-out;
}

.ui button:hover{
    cursor: pointer;
    background-color: #4fb24f;
    color: #ededed;
}

.ui form > * {
    display: block;
    width: 100%;
}

.ui span {
    color: #ea1919;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    text-transform: lowercase;
}